<div class="modal fade" id="createblog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Create blog</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         <form action="" method="post">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Title</span>
                <input type="text" class="form-control" placeholder="Title" aria-label="title" aria-describedby="basic-addon1">
              </div>
              <div class="input-group">
                <span class="input-group-text">Content</span>
                <textarea class="form-control" aria-label="With textarea"></textarea>
              </div>
              <br><br>
              <hr>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cancel</button>
              <button class="btn btn-primary float-end" type="submit">Submit</button>

         </form>
        </div>
       
      </div>
    </div>
  </div>