<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <title>Document</title>

</head>
<body>
    <%- include('nav')%>
  <div class="container mt-2 ">
    <p class="h1">Title</p>
    <br><br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, veniam! Numquam voluptas natus pariatur perspiciatis, hic ipsum distinctio quos quam voluptate consequatur illum explicabo labore obcaecati nam magni ut aspernatur excepturi laboriosam minus! Labore, ratione reprehenderit voluptates, nisi alias voluptatum eveniet aliquid dolorum mollitia quas esse sed consequuntur nesciunt sequi, nostrum eaque vero dolore beatae autem dignissimos! Reprehenderit aliquam ducimus quos libero placeat inventore repudiandae, atque est labore animi voluptatibus aliquid architecto veritatis, porro dolorem consectetur sequi nisi asperiores voluptates quae sint et facere eius! Tempore, voluptates, id placeat soluta aspernatur fuga veritatis debitis impedit ut aperiam, odio amet labore.</p>
  </div>
  <br><br><br><br> <hr>
  <footer class="p-5  bg-dark" style="color: white;">
   
    <dl class="row g-0">
      <dt class="col-sm-3">Name</dt>
      <dd class="col-sm-9">Asier Nebiyou</dd>
    
      <dt class="col-sm-3">Email</dt>
      <dd class="col-sm-9">
        <p>anebiyou@dotrust.org</p>
        
      </dd>
    
     
    </dl>
  </footer>
  <%- include('modals/login'); %>
  
</body>
</html>